h3 {
    font-size: 1.2rem;
    font-family: 'Staatliches', cursive;
}

table {
  padding: 0px;
  margin-top: 1em;
  width: 100%;
}

tr:hover {background-color: #f4f4f4;}

table {
  border-collapse: collapse;
  font-family: Calibri;
}

th {
  height: 50px;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}

td {
  height: 50px;
  text-align: center;
}

th, td {
  padding: 10px;
}

.dashboard {
  width: 100%;
}

.welcome-pane {
  min-height: 45px;
}

.notifications-pane {
  min-height: 150px;
}

.dashboard-pane {
  min-height: 300px;
}
