form {
  margin: auto;
}

h1.form-heading {
  text-align:
}

input[type=input].form-button {
  margin: auto;
}

.login-form {
  width: 40%;
}

.login-form h1, h3 {
  text-align: center;
  padding: 0px;
}

.login-boxes {
  position: relative;
  margin: 0 auto;
}
